<div class="col-sm-2 customs">
  <h4>Customizations</h4><br>
  <div class="list-group" id="changing_div">
    <button (click)="next(0)" class="list-group-item list-group-item-action options">Sofa</button><br>
    <button (click)="next(1)" class="list-group-item list-group-item-action options">Loveseat</button><br>
    <button (click)="next(2)" class="list-group-item list-group-item-action options">Sectional</button><br>    
  </div>

  <div class="list-group" id="changing_div2" hidden>
    <button (click)="nexta(3)" class="list-group-item list-group-item-action options">Classic</button><br>
    <button (click)="nexta(4)" class="list-group-item list-group-item-action options">Contemporary</button><br>
    <button (click)="nexta(5)" class="list-group-item list-group-item-action options">Reset</button><br>
  </div>
</div>
